extends layout
include _include/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= data.name
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            +outputRating(data.rating)
          p= data.address
          .card.card-primary
            .card-block
              h2.card-title Facilities
              each facility in data.facilities
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{facility}
                | &nbsp;

        
      